@import './reset';
@import './variables/globals';
@import './themes/dark';
@import './themes/normal';

body {
  background-color: gray;
}

.app {
  min-height: 100vh;

  color: var(--primary-color);
  font: var(--font-m);

  background: var(--bg-color);
}

.content-page {
  display: flex;
  flex-direction: row;
}

.page-wrapper {
  flex-grow: 1;

  padding: 20px;
}
