@import './reset';
@import './variables/globals';
@import './themes/dark';
@import './themes/normal';

.app {
  display: flex;

  min-height: 100vh;

  color: var(--text-color);
  font: var(--font-m);

  background: var(--bg-color);

  transition: var(--tran-02);

  *::selection {
    color: var(--background-text-color);

    background-color: var(--primary-color);
  }
}

.content-page {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.page-wrapper {
  flex-grow: 1;

  padding: 20px;
}

.float-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#dialogs-root {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;

  font: var(--font-m);

  pointer-events: none;

  transition: background-color 0.5s;
}

#dialogs-root:has(*) {
  background-color: rgb(0 0 0 / 60%);

  pointer-events: auto;
}
