@import './reset';
@import './variables/globals';
@import './themes/dark';
@import './themes/normal';

.app {
  min-height: 100vh;

  color: var(--text-color);
  font: var(--font-m);

  background: var(--bg-color);

  transition: var(--tran-02);
}

.content-page {
  display: flex;
  flex-direction: row;
}

.page-wrapper {
  flex-grow: 1;

  padding: 20px;
}

.float-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
