.LoginForm {
  display: flex;
  flex-direction: column;
  gap: 14px;

  // width: 15em;
  // height: 20em;

  // border-radius: var(--button-border-radius);

  // background-color: var(--bg-color);
}

.loginBtn {
  align-self: flex-end;
}
