@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap';

* {
  font-family: Poppins, sans-serif;
}

:root {
  --font-family-main: consolas, 'Times New Roman', serif;
  --font-size-m: 18px;
  --font-line-m: 26px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
  --font-size-l: 26px;
  --font-line-l: 34px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
  --font-size-xl: 34px;
  --font-line-xl: 42px;
  --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

  // Sizes
  --navbar-height: 50px;
  --sidebar-width: 300px;
  --sidebar-width-collapsed: 56px;
}
