@import 'https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;800&family=Poppins:wght@300;400;500;600;700&display=swap';

:root {
  --font-family-main: 'Mulish', sans-serif;
  --font-size-s: 14px;
  --font-line-s: 28px;
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);
  --font-size-m: 18px;
  --font-line-m: 32px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
  --font-size-l: 22px;
  --font-line-l: 36px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
  --font-size-xl: 26px;
  --font-line-xl: 40px;
  --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

  // Sizes
  --navbar-height: 78px;
  --sidebar-width: 240px;
  --sidebar-width-collapsed: 90px;
  --button-border-radius: 6px;
  --sidebar-images-space: 60px;
  --input-images-space: 40px;
  --sidebar-items-height: 50px;
  --input-height: 40px;
  --sidebar-x-padding: 14px;
  --sidebar-y-padding: 10px;
  --button-padding: 20px;
  --global-margin: 20px;

  // Transition

  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
  --time-animations: 0.2s;

  // Colors

  --anxiety-color: rgb(190 109 109);
}
