@import 'https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;800&family=Poppins:wght@300;400;500;600;700&display=swap';

:root {
  --font-family-main: 'Mulish', sans-serif;
  --font-size-m: 18px;
  --font-line-m: 30px;
  --font-m: bold var(--font-size-m) / var(--font-line-m) var(--font-family-main);
  --font-size-l: 24px;
  --font-line-l: 36px;
  --font-l: bold var(--font-size-l) / var(--font-line-l) var(--font-family-main);
  --font-size-xl: 30px;
  --font-line-xl: 42px;
  --font-xl: bold var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

  // Sizes
  --navbar-height: 50px;
  --sidebar-width: 240px;
  --sidebar-width-collapsed: 90px;
  --button-border-radius: 6px;
  --sidebar-images-space: 60px;
  --sidebar-items-height: 50px;
  --sidebar-x-padding: 14px;
  --sidebar-y-padding: 10px;

  // Transition

  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}
