.title {
  color: var(--text-color);
  font: var(--font-m);
  font-weight: 600;
}

.text {
  color: var(--text-color);
  font: var(--font-s);
}

.error {
  & > * {
    color: var(--anxiety-color);
  }
}
