.Modal {
  z-index: 100;

  max-width: 30%;
  padding: 20px;

  color: var(--text-color);

  border-radius: 12px;

  background-color: var(--sidebar-color);

  opacity: 0;

  transition: opacity 0.2s ease-in-out;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

.openned .Modal {
  opacity: 1;

  animation: open-modal var(--time-animations) ease-in-out;
}

.closing .Modal {
  animation: close-modal var(--time-animations) ease-in-out;
}

@keyframes open-modal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes close-modal {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
