$sizes: (
  'small': 36px,
  'medium': 45px,
  'large': 54px,
);

.loader {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(0.5);

  & ~ * {
    opacity: 0;
  }
}

.Button {
  position: relative;

  display: flex;
  align-items: center;

  padding: 0 20px;

  font-size: var(--font-size-m);
  white-space: pre;
  text-decoration: none;

  border-radius: var(--button-border-radius);

  cursor: pointer;

  overflow: hidden;

  transition: all 0.3s;

  @each $name, $size in $sizes {
    &.#{$name} {
      height: $size;

      & .extra_container {
        min-width: $size;
      }

      &:has(.icon),
      &:is(.square, .circle),
      &.collapsed {
        width: $size;
        padding: 0;
      }

      &:has(.text_container:last-child) {
        padding-right: $size;

        & .text {
          right: 0;
        }
      }

      &:has(.text_container:first-child) {
        padding-left: $size;

        & .text {
          left: 0;
        }
      }
    }
  }

  &:has(:is(.extra_container, .icon)),
  &:is(.square, .circle) {
    padding: 0;
  }

  &:has(.extra_container:first-child) {
    justify-content: flex-start;
  }

  &:has(.extra_container:last-child) {
    justify-content: flex-end;
  }

  & .text {
    z-index: 2;
  }

  & .icon,
  &:is(.square, .circle) > * {
    display: flex;

    margin: auto;
  }

  &.circle {
    border-radius: 50%;
  }

  & .extra_container {
    position: relative;
    z-index: 2;

    display: flex;
    flex-shrink: 0;

    height: 100%;

    & > * {
      margin: auto;
    }
  }

  & .text_container {
    position: relative;

    flex-grow: 1;

    margin: 0 -6px;
    padding: 0 6px;

    &::after {
      content: attr(data-text);

      opacity: 0;
    }

    & .text {
      position: absolute;
    }
  }
}

.outline {
  color: var(--text-color);

  border: none;

  background: none;

  box-shadow: none;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';

    border: 1.5px solid var(--text-color);
    border-radius: var(--button-border-radius);

    transition: opacity 0.3s, border 0.3s;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    z-index: 1;

    width: 200px;
    height: 200px;

    border-color: transparent;
    border-radius: 50%;

    background-color: var(--primary-color-light);

    opacity: 0;
    transform: translate(-10px, -70px) scale(0.1);

    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
  }

  &:hover,
  &.active {
    box-shadow: 0 2px 8px var(--widgets-shadow-color);
  }

  &:hover::before,
  &.active::before {
    opacity: 0;
  }

  &:hover::after,
  &.active::after {
    opacity: 1;
    transform: scale(1) translate(-10px, -70px);
    transform-origin: 100px 100px;
  }
}

.primary,
.secondary {
  border: none;

  transition: all 0.3s;
}

.primary {
  color: var(--background-text-color);

  background-color: var(--primary-color);
}

.secondary {
  color: var(--text-color);

  background-color: var(--primary-color-light);
}

.empty {
  &:hover,
  &.active {
    color: var(--background-text-color);

    background-color: var(--primary-color);
  }
}
