.Button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 var(--button-padding);

  cursor: pointer;
}

.outline {
  position: relative;

  color: var(--text-color);

  border: none;

  // border: 2px solid var(--text-color);

  background: none;

  box-shadow: none;

  overflow: hidden;

  transition: all 0.5s;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';

    border: 1.5px solid var(--text-color);
    border-radius: var(--button-border-radius);

    transition: opacity 0.3s, border 0.3s;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    z-index: -1;

    width: 200px;
    height: 200px;

    border-color: transparent;
    border-radius: 50%;

    background-color: var(--primary-color-light);

    opacity: 0;
    transform: translate(-10px, -70px) scale(0.1);

    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
  }

  &:hover::before {
    opacity: 0;
  }

  &:hover::after {
    opacity: 1;
    transform: scale(1) translate(-10px, -70px);
    transform-origin: 100px 100px;
  }
}

.background {
  color: var(--background-text-color);

  border: none;

  background-color: var(--primary-color);
}

.full_rounded {
  padding: 0;

  border-radius: 50%;
}

.partly_rounded {
  border-radius: var(--button-border-radius);
}

.squared {
  padding: 0;
}

.small {
  height: var(--font-line-m);
  min-width: var(--font-line-m);

  font-size: var(--font-size-s);

  &.squared {
    width: var(--font-line-m);
  }
}

.medium {
  height: var(--font-line-l);
  min-width: var(--font-line-l);

  font-size: var(--font-size-m);

  &.squared {
    width: var(--font-line-l);
  }
}

.large {
  height: var(--font-line-xl);
  min-width: var(--font-line-xl);

  font-size: var(--font-size-l);

  &.squared {
    width: var(--font-line-xl);
  }
}
