.Button {
  position: relative;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  height: 2.5em;
  padding: 0 20px;

  font-size: var(--font-size-m);
  white-space: pre;
  text-decoration: none;

  border-radius: var(--button-border-radius);

  cursor: pointer;

  overflow: hidden;
}

.outline {
  position: relative;

  color: var(--text-color);

  border: none;

  background: none;

  box-shadow: none;

  transition: all 0.3s;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';

    border: 1.5px solid var(--text-color);
    border-radius: var(--button-border-radius);

    transition: opacity 0.3s, border 0.3s;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    z-index: -1;

    width: 200px;
    height: 200px;

    border-color: transparent;
    border-radius: 50%;

    background-color: var(--primary-color-light);

    opacity: 0;
    transform: translate(-10px, -70px) scale(0.1);

    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
  }

  &:hover {
    box-shadow: 0 0 5px 2px var(--widgets-shadow-color);
  }

  &:hover::before {
    opacity: 0;
  }

  &:hover::after {
    opacity: 1;
    transform: scale(1) translate(-10px, -70px);
    transform-origin: 100px 100px;
  }
}

.primary,
.secondary {
  border: none;

  transition: all 0.3s;
}

.primary {
  color: var(--background-text-color);

  background-color: var(--primary-color);
}

.secondary {
  color: var(--text-color);

  background-color: var(--primary-color-light);
}

.circle {
  border-radius: 50%;
}

:is(.small, .medium, .large):is(.square, .circle) {
  padding: 0;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(0.5);
}

.left_container,
.right_container {
  display: none;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}

.extraElements {
  padding: 0;

  & :is(.left_container, .right_container) {
    display: flex;
  }
}

.text_container {
  position: relative;

  flex-grow: 1;

  margin: 0 -6px;
  padding: 0 6px;

  &::after {
    content: attr(data-text);

    opacity: 0;
  }
}

.text {
  position: absolute;

  &.right_align {
    right: 0;
  }

  &.left_align {
    left: 0;
  }
}

.small {
  height: 36px;

  & :is(.left_container, .right_container) {
    height: 36px;
    min-width: 36px;
  }

  &:is(.square, .circle),
  &.collapsed {
    width: 36px;
  }
}

.medium {
  height: 45px;

  & :is(.left_container, .right_container) {
    height: 45px;
    min-width: 45px;
  }

  &:is(.square, .circle),
  &.collapsed {
    width: 45px;
  }
}

.large {
  height: 54px;

  & :is(.left_container, .right_container) {
    height: 54px;
    min-width: 54px;
  }

  &:is(.square, .circle),
  &.collapsed {
    width: 54px;
  }
}

.icon {
  justify-content: center;
}
