.Sidebar {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: var(--sidebar-width);
  height: 100vh;
  padding: var(--global-margin) var(--sidebar-x-padding);

  background: var(--sidebar-color);

  box-shadow: 1px 0 6px var(--widgets-shadow-color);

  transition: width 0.4s;

  &.collapsed {
    width: var(--sidebar-width-collapsed);
  }
}

.collapsedBtn {
  position: absolute;
  bottom: 180px;
  right: 0;

  transform: translateX(50%);

  & svg {
    height: 14px;
  }

  & .collapsed {
    transform: rotate(180deg);
  }
}

.avatar {
  width: 100%;
  height: 100%;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
