.Sidebar {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: var(--sidebar-width);
  height: 100vh;
  padding: var(--global-margin) var(--sidebar-x-padding);

  background: var(--sidebar-color);

  box-shadow: 1px 0 6px var(--widgets-shadow-color);

  transition: width 0.4s;

  & .collapsedBtn {
    position: absolute;
    bottom: 100px;
    right: 0;

    transform: translateX(50%);

    & svg {
      height: 14px;
    }
  }
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.vertical {
  flex-direction: column;
}

.collapsed .collapsedBtn {
  transform: translateX(50%) rotate(180deg);
}

.items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  width: 100%;
  height: var(--sidebar-items-height);
}
