.Sidebar {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  padding: var(--sidebar-y-padding) var(--sidebar-x-padding);

  background: var(--sidebar-color);

  box-shadow: 1px 0 20px var(--widgets-shadow-color);

  transition: width 0.4s;

  & .collapsedBtn {
    position: absolute;
    bottom: 100px;
    right: 0;

    transform: translateX(50%);

    & svg {
      height: 14px;
    }
  }
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.vertical {
  flex-direction: column;
}

.collapsed .collapsedBtn {
  transform: translateX(50%) rotate(180deg);
}

.items {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  align-items: center;

  height: var(--sidebar-items-height);
  margin-top: 10px;

  border-radius: var(--button-border-radius);

  transition: var(--tran-04);

  &:hover {
    color: var(--background-text-color);

    background-color: var(--primary-color);
  }
}
