.SignupPage {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

.additional {
  display: flex;
  gap: 1em;
}
