.dark {
  --bg-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
  --background-text-color: #ccc;
  --widgets-shadow-color: #121111;
}
