.dark {
  --bg-color: hsl(0deg 2% 11%);
  --sidebar-color: #242526;
  --navbar-color: hsl(0deg 2% 15%);
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
  --background-text-color: #ccc;
  --widgets-shadow-color: #181717;
}
