.light {
  --bg-color: #e4e9f7;
  --sidebar-color: #faffff;
  --primary-color: #695cfe;
  --primary-color-light: #f0efef;
  --toggle-color: #ddd;
  --text-color: #707070;
  --background-text-color: #f6f5ff;
  --widgets-shadow-color: #b3b3b3;
}
