.light {
  --bg-color: #e5e8f0;
  --sidebar-color: #f2f1f0;
  --primary-color: #695cfe;
  --primary-color-light: #eaeaea;
  --toggle-color: #ddd;
  --text-color: #707070;
  --background-text-color: #f6f5ff;
  --widgets-shadow-color: #b3b3b3;
}
