.Navbar {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  width: 100%;
  height: var(--navbar-height);
  padding: 0 var(--sidebar-x-padding);

  background: var(--sidebar-color);

  box-shadow: 0 3px 5px var(--widgets-shadow-color);
}

.mainLink {
  margin-right: 15px;
}

.links {
  margin-left: auto;
}
