.Navbar {
  --button-color: var(--primary-color-light);
  --button-text-color: var(--text-color);

  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;

  width: 100%;
  height: var(--navbar-height);
  max-width: 100%;
  padding: var(--navbar-padding) var(--sidebar-x-padding);

  background-color: var(--navbar-color);

  opacity: 0.7;
}

.mainLink {
  margin-right: 15px;
}

.links {
  margin-left: auto;
}
