.Navbar {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  width: 100%;
  height: var(--navbar-height);
  padding: 0 var(--sidebar-x-padding);

  background: var(--sidebar-color);
}

.mainLink {
  margin-right: 15px;
}

.links {
  margin-left: auto;
}
