.ThemeSwitcher {
  position: relative;

  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;

  width: 180px;
  height: 50px;

  color: var(--text-color);

  border-radius: var(--button-border-radius);

  background-color: var(--primary-color-light);

  overflow: hidden;

  & .theme {
    position: absolute;
    left: 0;

    display: flex;
    align-items: center;
  }

  & svg {
    position: absolute;
  }

  & .moon_sun {
    display: flex;
    justify-content: center;
    align-items: center;

    width: var(--sidebar-images-space);
    height: 100%;
  }

  & .mode_text {
    flex-grow: 1;

    white-space: pre;
  }

  & .toggle_switch {
    position: relative;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    min-width: var(--sidebar-images-space);

    background-color: var(--primary-color-light);
  }
}

.collapsed {
  width: fit-content;
}
